fastapi[standard]
uvicorn[standard]
sqlmodel
alembic
rapsqlite==0.3.0
greenlet
python-dotenv
python-jose[cryptography]
passlib
pydantic-settings
jinja2
python-multipart
pytest
fastapi-workbench @ git+https://github.com/eddiethedean/jwt-user-management.git@main#subdirectory=fastapi_workbench
httpx
