fastapi[standard]
uvicorn[standard]
hypercorn
sqlmodel
alembic
rapsqlite==0.3.0
greenlet
python-dotenv
python-jose[cryptography]
passlib
pydantic-settings
jinja2
python-multipart
pytest
fastapi-workbench==0.2.0
httpx
